<!DOCTYPE html>
<html>
	<head>
		<title>Forgot Password</title>
	</head>
	<body>
		<div>
			<h3> Dear {{name}}</h3>
			<p> You requested a password reset. Please follow this < a href="{{url}}"> link </a> to reset your password </p>
			<br>
			<p> You will have 1 hour to reset before this links stops working. Good luck! </p>
		</div>
	</body>
</html>