<!DOCTYPE html>

<html>
	<head>
		<title> Password reset successful</title>
	</head>
	<body>
		<div>
			<h3> Forgot password </h3>
			<p> Password successfully changed. You can now login with your new password </p>
			<br> 
	</body>
</html>