<div class="table-responsive">
	<h2 class="text-center"> {{name}} Password reset</h2>
	<form>
		<label> New password: </label>
		<input type="password" id="newPassword" required />
		
		<label> Confirm Password: </label>
		<input type="password" id="confirm" required />
		<input type="submit" value="Submit" />
	</form>
</div>